body {
    color: salmon;
    text-align: center;
    font-family: arial;
    background: gray;
}

.container {
    width: 80%;
    margin: 0px auto;
}

.cabecera {
    text-align: left;
    color: white;
}

.post {
    width: 100%;
    padding: 0px 15px 10px;
    text-align: left;
    border: 1px solid silver;
    border-radius: 5px;
    background: white;
}